/*--------------------------------
			 Destop 1200
--------------------------------*/
@media (max-width: 1399px) {
  /* line 6, ../../sass/responsiv/max-1399.scss */
  body {
    padding: 0 15px;
  }

  /* line 8, ../../sass/responsiv/max-1399.scss */
  .page {
    width: 100%;
    padding: 5px;
  }
  /* line 12, ../../sass/responsiv/max-1399.scss */
  .page .logo {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 16, ../../sass/responsiv/max-1399.scss */
  .page .logo h1 {
    font-size: 35px;
    float: none;
    margin: 0 auto;
  }
  /* line 21, ../../sass/responsiv/max-1399.scss */
  .page .logo h1 a {
    float: none;
    margin: 0 auto;
  }
  /* line 27, ../../sass/responsiv/max-1399.scss */
  .page .navbar .nav {
    width: 79%;
  }
  /* line 28, ../../sass/responsiv/max-1399.scss */
  .page .form-search {
    width: 18%;
  }
  /* line 29, ../../sass/responsiv/max-1399.scss */
  .page .search-int {
    width: 126px;
  }
  /* line 31, ../../sass/responsiv/max-1399.scss */
  .page .ei-slider-large li img {
    width: 100%;
    margin-left: 0 !important;
    border-radius: 0 0 0 0 !important;
  }
  /* line 38, ../../sass/responsiv/max-1399.scss */
  .page .banner-ogl h2 {
    font-size: 29px;
  }
  /* line 39, ../../sass/responsiv/max-1399.scss */
  .page .banner-ogl h3 {
    padding: 0 5%;
  }
  /* line 40, ../../sass/responsiv/max-1399.scss */
  .page .banner-ogl h3 a {
    padding: 0;
  }
  /* line 43, ../../sass/responsiv/max-1399.scss */
  .page .banner-ogl p {
    width: 94%;
    font-size: 16px;
    line-height: 27px;
    padding: 3%;
  }
  /* line 51, ../../sass/responsiv/max-1399.scss */
  .page .foot-area:last-child {
    width: 19.7%;
  }
  /* line 52, ../../sass/responsiv/max-1399.scss */
  .page .content-mail input[type="text"] {
    width: 50%;
  }
}
/*--------------------------------
			 Tablet 768
-------------------------------*/
@media (max-width: 768px) {
  /* line 7, ../../sass/responsiv/max-768.scss */
  .page header {
    width: 100%;
    padding-top: 10px;
  }
  /* line 11, ../../sass/responsiv/max-768.scss */
  .page header .logo {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 15, ../../sass/responsiv/max-768.scss */
  .page header .logo h1 {
    font-size: 35px;
    float: none;
    margin: 0 auto;
  }
  /* line 20, ../../sass/responsiv/max-768.scss */
  .page header .logo h1 a {
    width: 213px;
    float: none;
    display: block;
    line-height: 50px;
    text-indent: -5000px;
    margin: 0 auto;
    background: url(../img/logo-748.png) top left no-repeat;
  }
  /* line 34, ../../sass/responsiv/max-768.scss */
  .page header .navbar .nav-collapse.collapse {
    width: 100%;
    border-top: 1px solid #000000;
    background: #2A2A2A;
    background-image: none;
  }
  /* line 40, ../../sass/responsiv/max-768.scss */
  .page header .navbar .nav-collapse .form-search {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }
  /* line 41, ../../sass/responsiv/max-768.scss */
  .page header .navbar .nav-collapse .search-int {
    width: 86%;
    margin-left: 4%;
  }
  /* line 44, ../../sass/responsiv/max-768.scss */
  .page header .navbar .nav {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
  }
  /* line 49, ../../sass/responsiv/max-768.scss */
  .page header .navbar .nav li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #555555;
  }
  /* line 54, ../../sass/responsiv/max-768.scss */
  .page header .navbar .nav li a {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 10px 4%;
    border-bottom: 1px solid #000000;
    background-image: none;
  }
  /* line 67, ../../sass/responsiv/max-768.scss */
  .page .center {
    width: 56%;
    float: left;
    margin: 0 0.9%;
    /**** IE slider ****/
    /**** Section Article ****/
  }
  /* line 73, ../../sass/responsiv/max-768.scss */
  .page .center .ei-slider-large li img {
    width: 100% !important;
    height: 260px !important;
    margin-left: 0 !important;
  }
  /* line 81, ../../sass/responsiv/max-768.scss */
  .page .center section article {
    width: 33.333%;
  }
  /* line 84, ../../sass/responsiv/max-768.scss */
  .page .center section article .tag-line {
    width: 94%;
    padding: 12px 3%;
  }
  /* line 85, ../../sass/responsiv/max-768.scss */
  .page .center section article .article-thumb {
    height: 100%;
  }
  /* line 86, ../../sass/responsiv/max-768.scss */
  .page .center section article .article-title h3 a {
    font-size: 16px;
  }
  /* line 87, ../../sass/responsiv/max-768.scss */
  .page .center section article .article-title p {
    line-height: 22px;
  }
  /* line 88, ../../sass/responsiv/max-768.scss */
  .page .center section article .select_pro {
    width: 47px;
    padding: 4px;
  }
  /* line 96, ../../sass/responsiv/max-768.scss */
  .page aside {
    width: 21.0769%;
    /**** Menu aside ****/
    /**** Cart ***/
    /**** Banner info ****/
    /**** Banner Oglasi ****/
  }
  /* line 100, ../../sass/responsiv/max-768.scss */
  .page aside .menu-aside {
    /**** Login ****/
  }
  /* line 101, ../../sass/responsiv/max-768.scss */
  .page aside .menu-aside ul li a {
    font-size: 14px;
    padding: 11px 5% 11px 23%;
  }
  /* line 104, ../../sass/responsiv/max-768.scss */
  .page aside .menu-aside form {
    width: 90%;
    padding: 5%;
  }
  /* line 105, ../../sass/responsiv/max-768.scss */
  .page aside .menu-aside form input[type="text"], .page aside .menu-aside form input[type="password"] {
    width: 90%;
    margin: 0 0 8px;
  }
  /* line 113, ../../sass/responsiv/max-768.scss */
  .page aside .products img {
    height: 30px;
  }
  /* line 114, ../../sass/responsiv/max-768.scss */
  .page aside .products .quantity-holder {
    width: 95%;
    margin-top: 3px;
    padding: 2%;
  }
  /* line 119, ../../sass/responsiv/max-768.scss */
  .page aside .products .quantity-holder span {
    font-size: 10px;
    margin-right: 3%;
  }
  /* line 128, ../../sass/responsiv/max-768.scss */
  .page aside .banner-info p {
    font-size: 16px;
    line-height: normal;
  }
  /* line 132, ../../sass/responsiv/max-768.scss */
  .page aside .banner-info img {
    width: 20%;
  }
  /* line 136, ../../sass/responsiv/max-768.scss */
  .page aside .banner-ogl h2 {
    width: 98%;
    font-size: 22px;
    padding: 2% 1%;
    text-align: center;
    /***** Banner olgas ****/
  }
  /* line 142, ../../sass/responsiv/max-768.scss */
  .page aside .banner-ogl h2 span {
    letter-spacing: 0;
  }
  /* line 145, ../../sass/responsiv/max-768.scss */
  .page aside .banner-ogl h2 h3 a {
    font-size: 18px;
    padding: 0 5%;
  }

  /***** Procucts Page ****/
  /* line 151, ../../sass/responsiv/max-768.scss */
  .products-content .article-box {
    margin: 20px 0;
  }

  /* line 153, ../../sass/responsiv/max-768.scss */
  .foot-logo {
    margin-left: -35px;
  }

  /* line 154, ../../sass/responsiv/max-768.scss */
  .foot-area:last-child {
    width: 19.5%;
  }

  /* line 155, ../../sass/responsiv/max-768.scss */
  .social-network {
    margin: 1% 0 1% 9% !important;
  }

  /* line 157, ../../sass/responsiv/max-768.scss */
  .flexslider {
    width: 98%;
    margin: 1%;
  }

  /* line 158, ../../sass/responsiv/max-768.scss */
  .products-content {
    width: 96%;
    margin: 2%;
  }

  /* line 160, ../../sass/responsiv/max-768.scss */
  .content-mail input[type="text"],
  .content-mail input[type="password"] {
    width: 50%;
  }
}
/*-----------------------------------------------
			        Tablet 480
------------------------------------------------*/
@media (max-width: 480px) {
  /* line 7, ../../sass/responsiv/max-480.scss */
  .page header {
    /**** Nav ****/
  }
  /* line 8, ../../sass/responsiv/max-480.scss */
  .page header .logo {
    width: 100%;
  }
  /* line 11, ../../sass/responsiv/max-480.scss */
  .page header .logo h1 {
    float: none;
    margin: 0 auto;
  }
  /* line 15, ../../sass/responsiv/max-480.scss */
  .page header .logo h1 a {
    height: 52px;
    float: none;
    margin: 0 auto;
  }
  /* line 25, ../../sass/responsiv/max-480.scss */
  .page header .navbar .nav-collapse, .page header .navbar .nav-collapse.collapse {
    width: 100%;
    border-top: 1px solid #000000;
    background: #2A2A2A;
    background-image: none;
  }
  /* line 26, ../../sass/responsiv/max-480.scss */
  .page header .navbar .nav {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
  }
  /* line 31, ../../sass/responsiv/max-480.scss */
  .page header .navbar .nav li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #555555;
  }
  /* line 36, ../../sass/responsiv/max-480.scss */
  .page header .navbar .nav li a {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 10px 4%;
    border-bottom: 1px solid #000000;
    background-image: none;
  }
  /* line 46, ../../sass/responsiv/max-480.scss */
  .page header .navbar .form-search {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
  }
  /* line 47, ../../sass/responsiv/max-480.scss */
  .page header .navbar .search-int {
    width: 82%;
    margin-left: 4%;
  }
  /* line 52, ../../sass/responsiv/max-480.scss */
  .page main .center {
    width: 100%;
    margin: 0;
    /**** Ei Slider ****/
    /**** Section Article ****/
  }
  /* line 57, ../../sass/responsiv/max-480.scss */
  .page main .center .ei-slider-large li img {
    margin-left: 0 !important;
  }
  /* line 58, ../../sass/responsiv/max-480.scss */
  .page main .center .ei-title {
    background: none;
  }
  /* line 61, ../../sass/responsiv/max-480.scss */
  .page main .center section article {
    width: 49.76%;
  }
  /* line 62, ../../sass/responsiv/max-480.scss */
  .page main .center section article .article-title p {
    max-width: 16.8%;
  }
  /* line 65, ../../sass/responsiv/max-480.scss */
  .page main .center section article {
    width: 100%;
  }
  /* line 69, ../../sass/responsiv/max-480.scss */
  .page main aside {
    width: 100%;
    /**** Cart ****/
    /**** Banner info ****/
    /***** Banner olgas ****/
  }
  /* line 72, ../../sass/responsiv/max-480.scss */
  .page main aside .menu-aside ul li a {
    padding: 11px 5% 11px 8%;
    /**** Login ****/
  }
  /* line 76, ../../sass/responsiv/max-480.scss */
  .page main aside .menu-aside ul li a form {
    width: 90%;
    padding: 5%;
  }
  /* line 77, ../../sass/responsiv/max-480.scss */
  .page main aside .menu-aside ul li a form input[type="text"], .page main aside .menu-aside ul li a form input[type="password"] {
    width: 97%;
    float: none;
    margin: 0 0 14px;
  }
  /* line 85, ../../sass/responsiv/max-480.scss */
  .page main aside .products img {
    height: 100%;
  }
  /* line 88, ../../sass/responsiv/max-480.scss */
  .page main aside .banner-info p {
    font-size: 22px;
    padding: 2%;
    width: 98%;
  }
  /* line 93, ../../sass/responsiv/max-480.scss */
  .page main aside .banner-info p img {
    width: 12%;
  }
  /* line 97, ../../sass/responsiv/max-480.scss */
  .page main aside .banner-ogl h3 {
    padding: 5px 5%;
  }
  /* line 102, ../../sass/responsiv/max-480.scss */
  .page footer .foot-area {
    width: 100% !important;
    line-height: normal;
    text-align: center;
  }
  /* line 107, ../../sass/responsiv/max-480.scss */
  .page footer .foot-area p {
    line-height: normal;
    padding: 0;
    text-align: center;
  }
  /* line 114, ../../sass/responsiv/max-480.scss */
  .page footer .foot-logo {
    width: 170px;
    display: table;
    line-height: 45px !important;
    margin: 0 auto;
    text-indent: -5000px;
  }
  /* line 121, ../../sass/responsiv/max-480.scss */
  .page footer .social-network {
    width: auto;
    display: table;
    margin: 0 auto !important;
  }
  /* line 128, ../../sass/responsiv/max-480.scss */
  .page .flexslider {
    width: 96%;
    float: none;
    margin: 10px auto;
  }
  /* line 134, ../../sass/responsiv/max-480.scss */
  .page .products-content {
    width: 96%;
    margin: 2%;
    /***** Procucts Page ****/
  }
  /* line 140, ../../sass/responsiv/max-480.scss */
  .page .products-content .products-content .article-box {
    margin: 20px 0;
  }
  /* line 143, ../../sass/responsiv/max-480.scss */
  .page .products-content .products-content .article-box .products-price {
    width: 20%;
  }
  /* line 146, ../../sass/responsiv/max-480.scss */
  .page .products-content section {
    width: 99% !important;
  }
  /* line 147, ../../sass/responsiv/max-480.scss */
  .page .products-content section p {
    width: 96%;
    padding: 3%;
  }
  /* line 150, ../../sass/responsiv/max-480.scss */
  .page .content-mail input[type="text"], .page .content-mail input[type="password"] {
    width: 50%;
  }
}
