.login { 
		width: 95%;
		display: table; 
		padding: 15px;
		
		&.comment-form {padding: 0;}
		
		.mail-info {color: #727272; font-size: 13px; padding: 2.5% 2.5% 0 2.5% ;}

    label {
		    display: block;
		    color: #727272;
		    font-size: 13px;
		    font-family: "oswaldbook";
		    line-height: normal;
		    word-spacing: 1px;
		    padding: 5px 0;
		    text-transform: uppercase;
    }
    input[type="text"], input[type="password"]{
		    width: 40%;
				height: 31px;
				color: #949494;
		    font-size: 12px;
		    border-radius: 0;
				border: 1px solid #eee;
				box-shadow: 1px 1px 4px #FFFFFF inset;
				background: url(../img/input-mail.jpg) top left repeat-x; 
    }
    textarea {
		    width:70%;
			  height: 200px;
			  color: #949494;
		    font-size: 12px;
		    padding:0 1% 1% 1%;
		    border-radius:0;
			  border: 1px solid #eee;
			  box-shadow: 1px 1px 4px #FFFFFF inset;
			  background:url(../img/input-mail.jpg) top left repeat-x; 
    }
    .btn-sub {
    	  display: block;
        color:#fff;
        font-size:12px;
        font-family: "oswaldbook";
        padding:8px 10px !important;
        margin: 10px 0;
        text-transform:uppercase;
        border: medium none;
        box-shadow: none;
        border-bottom: 2px solid #000;
        background: #2e2e2e;
        
        &:hover { opacity: 0.8; }
    }
}