/*--------------------------------
			 Pagination
--------------------------------*/			    
.pagination {
		width:100%;
		both: clear;
		display: table;
		margin: 0;
		padding-top: 0.4%;
		background: none repeat scroll 0 0 #F0F0EF;
		border-top: 1px solid #DCDCDC;
		box-shadow: 0 1px 1px #EEEEEE inset;
		
		ul {
		    width: 100%;
		    margin-bottom: 0;
		    margin-left: 0;
		    border-radius: 0 0 0 0 !important;
		    background: #fff;
		    
		    > li {
			    	display: inline;
			    	float: left;
			    	border-right: 1px solid #dcdcdc;
					border-bottom: 1px solid #dcdcdc;
					background: #FFFFFF;
			    	
			    	> a {
						color: #555;
					    float: left;
					    line-height: 20px;
					    padding: 4px 12px;
					    text-decoration: none;
					    border-radius: 0 !important;
				    }

					&.active {background: #f0f0ef;}
				}
	  } 
}
			
						