@if (!userData && error) {
    <h3 [class.errorLogin]="(error) ? true : false">{{ message }}</h3>

} @else if (userData) {
    <div clas="login-scussess">
        <h3>Ulogovani ste kao: {{ userData.displayName }}, email: {{ userData.email }}</h3>
    
        <img [src]="'assets/images/users/avatar/' + userData.avatarUrl" [alt]="userData.email" />
    
        <button class="btn-sub" (click)="logoutUser()">Izloguj se</button>
    </div>

} @else {
    <h2>Uloguj se!</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input 
            type="text"
            formControlName="email"
            placeholder="Vas Email" 
        />
        <input 
            type="password" 
            formControlName="password"
            placeholder="Unesite Lozinku" 
        />

        <label class="checkbox">
            <input type="checkbox"> Remember me
        </label>

        <button class="btn-sub" type="submit">Uloguj se</button>
    </form>	
}

<div class="hr1"></div>