/*--------------------------------
		Products contant
--------------------------------*/									 		   
.products-content {
		width: 47.6%;
		float: left;
		margin: 2% 2% 2% 0;
		
		 /****** Tag h1 ******/	 
		 h1 {
				 width: 100%;
				 color: #555;
				 font-size: 18px;
				 margin-bottom: 10px;
				 padding-bottom: 9px;
				 border-bottom: 1px solid #eee;
		 }
		 p {
			   color: #727272; 
			   font-size: 12px; 
			   margin: 5% 0 0 0; 
			   font-weight: normal;
	   } 	
	   .price {line-height: 17px;}
	   span { 
				 margin-right: 6px; 
				 font-weight: bold;
				 text-transform: uppercase;
		 }
		 
		 .article-box {
			   width: 100%;
			   display: table;
			   margin-top: 45px; 
			   padding: 5px;
			   border: 1px solid #EEEEEE;
		     background: #F9F9F9;
	   
	       form {
	           display: table;
	           float:right;
				 		 
				 		 label {
				 		     display: inline; 
				 		     color:#555; 
				 		     font-size: 14px; 
				 		     margin-right: 10px;
				 		 }
				 		 
			       input[type="text"] {
								 width: 35px;
						     height: 24px;
						     margin: -1px 2px 0 0;
								 border-radius: 0;
								 border-color: #CCCCCC #DCDCDC #E5E5E5;
								 background: none repeat scroll 0 0 #FFFFFF;
						 }
	       }
	       .products-price {
						 float: left;
			 			 color: #555;
						 font-size: 14px;
						 margin: 0 5% 0 0;
						 padding: 2.9%;
						 line-height: normal;
						 border: 1px solid #EEEEEE;
						 background:#fff;
						 
						 span {color: #BE4443; font-weight: normal;}
			   }
	   }
}
	
/****** Tag line ******/
.tag-line {
		width: 100%;
		display:table;
	  color:#7b7a7a;
		text-align:center;
		text-transform:uppercase; 
		padding: 15px;
		background: url(../img/section-title.jpg) bottom left repeat-x #fefefe;
		
		> li { 
				float: left; 
				color: #555;
				font-size: 14px;
				line-height: normal;
				font-family: "oswaldbook";
				list-style: none;
				
				a {color: #555; font-size: 14px;}
				> span {font-size: 14px; color: #CCCCCC; padding: 0 5px; }	
				> .active {color:#be4443; font-size:14px;}
		}
}	
						         					 
.btn-cart-products {
		width: 38px !important;
		height: 35px;
		color: #FFFFFF;
		font-family: "oswaldbook";
		font-size: 12px;
		letter-spacing: 0.7px;
		margin: -2px 0 0 0;
		text-indent: -9999px;
		padding: 8px 10px !important;
		text-transform: uppercase;
		border: medium none;
		box-shadow: none;
		background: url("../img/btn-cart.jpg") repeat-x scroll left bottom #FCFCFC;
		
		&:hover  {opacity: 0.8}
}

/*--------------------------------	
			 Tabs info
--------------------------------*/	
.tabs-info {
		margin: 2%;
		clear: both;
    
    .info-tabs {
			  width: 100%;
			  display: table;
			  margin: 0;
		    border-bottom: 1px solid #eee;
		    
		    > li {
					  float:left;
					  color:#8b8a8a; 
					  font-size: 13px;
					  font-family: "oswaldbook";
					  padding: 10px;
					  list-style:none;
		  		  margin-right: -1px;
		  		  margin-bottom: -1px;
		  		  text-transform:uppercase;
		  		  border-radius:0;
		  		  border: 1px solid #eee;
		  		  background: #F9F9F9;
        	
        		a {color: #8b8a8a;}
        }
        &.active {padding: 2%; border-bottom: 1px solid #fff; background: #fff;}
		}
    .tab-content {
				padding: 10px;
		  	overflow: auto;
		  	border-left: 1px solid #eee;
		  	border-right: 1px solid #eee;
		  	border-bottom: 1px solid #eee;
		  	
				p {color:#555; font-size: 12px;}
				.comment-title {padding-bottom: 2%;}
		}
		
		/***** Comment Products ******/
		.comment_pro {
			  width: 100%; 
			  display: table;
			  padding: 8px 10px;
			  margin-bottom: 10px; 
			  border: 1px solid #EEEEEE;
			  background: none repeat scroll 0 0 #F9F9F9;
	  
	  		h3, h4 {
					  color:#8b8a8a; 
		        font-size: 16px;
					  text-transform: uppercase;
					  margin-bottom: 5px;
			  }
			  h4 {font-size: 12px;}
			  p  {width: 100%; padding: 0;}
			  .time {
	 				  width:100%;
	 				  display: block;
	 				  color: #BE4443;
	  			  margin-bottom: 15px;
			  }
	  } 
}
					  
						
						  
						  
						  
			  
			  								 
			  								 
			  								  
																						      