<!-- Start Container -->
<div class="container">
    <header app-header></header>

    <!-- Start Content -->
    <div class="content">
        <!-- Start Aside -->
        <aside>

        </aside>
        <!-- End Aside -->

        <!-- Start Main -->
        <main>

        </main>
        <!-- End Main -->

        <aside>
            
        </aside>
        <!-- End Aside -->
    </div>
    <!-- End Content -->

    <footer app-footer></footer>
</div>
<!-- End Container -->

<router-outlet></router-outlet>
