@import '../../../../scss/helpers/variables';
@import '../../../../scss/slider/slider';

:host {
    .ei-slider {
        width: 100%;
        height: 450px;
        margin-bottom: 10px;
        border: 1px solid #eee;
    }

    .content {
        overflow: hidden;
        border: 1px solid green;
    }

    aside {
        width: 18%;
        float: left;
        min-height: 400px;
    }

    main {
        width: calc(64% - 20px);
        min-height: 400px;
        float: left;
        margin: 0 10px;
    }
}