<!-- Start Aside -->
<aside>

</aside>
<!-- End Aside -->

<!-- Start Main -->
<main>
    <!-- ei-slider-large -->
    <div id="ei-slider" class="ei-slider">
        <ul class="ei-slider-large">
            <li>
                <img src="assets/images/slider/slide-1.png" alt="image01" />
                <div class="ei-title">
                    <h2>Galaxy S3</h2>
                    <h3>Polovan</h3>
                </div>
            </li>									
            <li>
                <img src="assets/images/slider/slide-2.png" alt="image02" />
                <div class="ei-title">
                    <h2>Friendly</h2>
                    <h3>Devil</h3>
                </div>
            </li>
            <li>
                <img src="assets/images/slider/slide-3.png" alt="image03"/>
                <div class="ei-title">
                    <h2>Tranquilent</h2>
                    <h3>Compatriot</h3>
                </div>
            </li>
            <li>
                <img src="assets/images/slider/slide-4.png" alt="image04"/>
                <div class="ei-title">
                    <h2>Insecure</h2>
                    <h3>Hussler</h3>
                </div>
            </li>									
            <li>										
                <img src="assets/images/slider/slide-1.png" alt="image01"/>										
                <div class="ei-title">											
                    <h2>Insecure</h2>											
                    <h3>Hussler</h3>										
                </div>									
            </li>
        </ul><!-- ei-slider-large -->
        <ul class="ei-slider-thumbs">
            <li class="ei-slider-element">Current</li>
            <li><a href="#">Slide 1</a><img src="assets/images/slider/slide-1.png" alt="thumb01" /></li>
            <li><a href="#">Slide 2</a><img src="assets/images/slider/slide-2.png" alt="thumb02" /></li>
            <li><a href="#">Slide 3</a><img src="assets/images/slider/slide-3.png" alt="thumb03" /></li>
            <li><a href="#">Slide 4</a><img src="assets/images/slider/slide-4.png" alt="thumb04" /></li>									
            <li><a href="#">Slide 4</a><img src="assets/images/slider/slide-1.png" alt="thumb01" /></li>
        </ul>
        <!-- End ei-slider-thumbs -->
    </div>
    <!-- End ei-slider -->

    <article *ngFor="let item of products" product-article [product-data]="item"></article>
</main>
<!-- End Main -->

<aside>
    <div login-widget></div>
</aside>
<!-- End Aside -->