<!-- Start Foot -->
<div class="content foot">
    <div class="foot-area">						
        <h2 class="foot-logo"><a data-src="holder.js/170x40" href="#">Mobipro</a></h2>					
    </div>

    <div class="foot-area">						
        <p>Copyright © 2013 Mobipro sva prava zadrzava</p>					
    </div>
    
    <div class="foot-area">						
        <ul class="social-network">							
            <li><a href="#"></a></li>							
            <li><a href="#" ></a></li>							
            <li><a href="#"></a></li>						
        </ul>					
    </div>				
</div>				
<!-- End Foot -->