<div class="head-top">
    <div class="logo">
          <h1><a href="#">MobilPro</a></h1>
    </div>
    
    <div class="leng">
    
    </div>
</div>

<div class="head-bottom">
   <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" >
       <span class="icon-th-list"></span>
   </a>
   
   <nav class="nav-collapse">
       <ul class="nav pull-left">
           <li class="active"><a href="#">Početna</a></li>
           <li><a href="#">Telefoni</a></li>
           <li><a href="#">Tableti</a></li>
           <li><a href="#">Komponente</a></li>
           <li><a href="#">Vesti</a></li>							
           <li><a href="#">Kontakt</a></li>
       </ul>
       <form class="form-search">
           <input type="text" class="input-medium search-int" placeholder="brza pretraga"/>
           <input type="submit" class="submit-btn" value="" />
       </form>
   </nav>
</div>				
<div class="hr"></div>